@font-face {
    font-family: "Noto Sans KR";
    font-size: normal;
    font-weight: 400;
    src: url(../font/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Noto Sans SC";
    font-size: normal;
    font-weight: 400;
    src: url(../font/NotoSansSC-Regular.otf) format("opentype");
}