$site-padding:      2.5%;

#site-container {
    #site-logo {
        height: 50vh;
        width: 50vw;
        object-fit: contain;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        z-index: 1000;
        pointer-events: none;
    }

    #site-footer {
        position: fixed;
        bottom: $site-padding;
        left: 50%;
        transform: translate(-50%, 0);
        word-break: keep-all;
        white-space: nowrap;
    }

    #site-navigation {
        display: flex;
        position: fixed;
        justify-content: space-between;
        width: 40vh;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
            text-align: center;
            word-break: keep-all;
            white-space: nowrap;
        }

        .nav-item {
            position: relative;
            display: flex;
            flex-direction: column;

            transform: rotate((-90deg));
            width: 10vh;

            cursor: pointer;
            border: dashed;
            border-width: 0.1vh;
            

            p {
                text-align: center;
            }
        }

    }

    #site-prompts-container {
        .prompt {
            pointer-events: none;
            position: fixed;
            word-break: keep-all;
            white-space: nowrap;
            font-weight: 200;
        }
    }    

    #site-about,
    #site-contact {
        position: fixed;
        word-break: keep-all;
        white-space: nowrap;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) ;
        z-index: 1000;
        // width: 50vh;
        // height: 25vh;
        text-align: center;
        p {
            margin: 0.25vh 0 0.25vh 0;
        }
        
    }

    #site-logo,
    #site-about,
    #site-contact {
        display: none;
    }

    &.home {
        #site-logo {
            display: block;
        }

        #site-navigation #nav-home {
            border: solid;
            border-width: 0.1vh;
        }
    }
    &.about {
        #site-about {
            display: block;
        }

        #site-navigation #nav-about {
            border: solid;
            border-width: 0.1vh;
        }
    }
    &.contact {
        #site-contact {
            display: block;
        }

        #site-navigation #nav-contact {
            border: solid;
            border-width: 0.1vh;
        }
    }
}