body {
    &.loading {
        #site-container {
            visibility: hidden;
        }
        #site-loading {
            display: block;
        }
    }
}

#site-loading {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
        height: 28vh;
        width: 38vw;
    }
}

#site-container {
    visibility: visible;
    #site-logo {
        height: 50vh;
        width: 60vw;
        object-fit: contain;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        pointer-events: none;
    }

    #site-footer {
        position: fixed;
        bottom: 2%;
        left: 50%;
        transform: translate(-50%, -50%);
        word-break: keep-all;
        white-space: nowrap;
    }

    #site-navigation {
        display: flex;
        position: fixed;
        justify-content: space-between;
        width: 40vh;
        bottom: 4%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        p {
            text-align: center;
            word-break: keep-all;
            white-space: nowrap;
        }

        .nav-item {
            position: relative;
            display: flex;
            flex-direction: column;

            // transform: rotate((-90deg));
            width: 10vh;

            cursor: pointer;
            // border: solid;
            // border-width: 0.1vh;
            padding: 0.5vh;
            
            background-color: black;
            color: white;
            
            

            p {
                text-align: center;
                line-height: 2vh;
                margin-top: 0.5vh;
                margin-bottom: 0.5vh;
            }
        }

    }

    #site-prompts-container {
        .prompt {
            pointer-events: none;
            position: fixed;
            word-break: keep-all;
            white-space: nowrap;
            font-weight: 200;
        }
    }    

    #site-about,
    #site-contact {
        max-width: 40vh;
        position: fixed;
        word-break: keep-all;
        white-space: nowrap;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) ;
        z-index: 1000;
        // width: 50vh;
        // height: 25vh;
        text-align: center;
        p {
            margin: 0.25vh 0 0.25vh 0;
        }
        
    }

    #site-logo,
    #site-about,
    #site-contact {
        display: none;
    }

    &.home {
        #site-logo {
            display: block;
        }

        // #site-navigation #nav-home {
        //     border: dashed;
        //     border-width: 0.1vh;
        // }
    }
    &.about {
        #site-about {
            display: block;
        }

        // #site-navigation #nav-about {
        //     border: dashed;
        //     border-width: 0.1vh;
        // }
    }
    &.contact {
        #site-contact {
            display: block;
        }

        // #site-navigation #nav-contact {
        //     border: dashed;
        //     border-width: 0.1vh;
        // }
    }
}