// header.html and nav.html

// defaults

#site-header {
    padding: $header-content-padding 0 $header-content-padding 0;
    height: $header-content-padding;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba($color: white, $alpha: 0), rgba($color: white, $alpha: 1) 40%);
    width: 100%;
    
    #site-header-container {
        display: flex;
        justify-content: space-between;
        gap: $header-content-padding;
        .link {
            text-decoration: none;
        }

        .logo {
            height: $header-content-padding;
        }

        .nav {
            width: $header-nav-width;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

#site-navigation {
    display: flex;
    justify-content: space-between;
    .item {
        text-decoration: none;
        color: black;
        &.selected {
            border-bottom: solid;
            border-width: $border-width;
        }
    }
}

// mobile
@include media-query($on-palm) {
    #site-header {
        padding: $header-content-padding-mobile 0 $header-content-padding-mobile 0;
        #site-header-container {
            .logo {
                height: $header-content-padding-mobile;
            }
            .nav {
                background-image: linear-gradient(to bottom, rgba($color: white, $alpha: 0), rgba($color: white, $alpha: 1) 40%);
                padding: $header-content-padding-mobile 0 $header-content-padding-mobile 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
            }            
        }
    }

    #site-navigation {
        display: flex;
        justify-content: space-around;
        .item {
            text-decoration: none;
            color: black;
            &.selected {
                border-bottom: solid;
                border-width: $border-width;
            }
        }
    }
}