// layout styling

.content-wrapper {
    width: calc(100% - #{$header-content-padding} * 2);
    max-width: $max-content-width;
    min-width: calc(#{$min-content-width} - 50px);
    margin: auto;
    overflow: hidden;
}

.page {
    margin-top: calc(#{$header-content-padding} * 3);
}

// mobile
@include media-query($on-palm) {
    .content-wrapper {
        width: calc(100% - #{$header-content-padding});
        max-width: unset;
        min-width: unset;
        margin: auto;
    }

    .page {
        margin-top: calc(#{$header-content-padding-mobile} * 3);
        margin-bottom: calc(#{$header-content-padding-mobile} * 3);
    }
}

