// layout styling

.content-wrapper {
    width: calc(100% - #{$header-content-padding} * 2);
    max-width: $max-content-width;
    min-width: calc(#{$min-content-width} - 50px);
    margin: auto;
    overflow: hidden;
}

// mobile
@include media-query($on-palm) {
    .content-wrapper {
        width: calc(100% - #{$header-content-padding});
        max-width: unset;
        min-width: unset;
        margin: auto;
    }
}

