$image_height:      450px;
$image_width:       800px;

#page-home {
    overflow: hidden;
    height: calc(100vh - #{$header-content-padding} * 3);
    .content-wrapper {
        overflow: visible;
    }
    #page-home-container {
        position: relative;
        height: calc(#{$image_height} + 55px);

        .image {
            position: absolute;
            transition: all 1s;
        }      
        .contact {
            position: absolute;
            bottom: 0;
            left: 0;
            p {
                margin: 0;
            }
        }  
    }
}

@keyframes fadeOutIn {
    0% {
        opacity: 100%;
    }
    30% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

// // mobile
// @include media-query($on-palm) {
//     #page-home {
//         overflow: visible;
//         height: fit-content;
//         .content-wrapper {
//             overflow: hidden;
//         }
//         #page-home-container {
//             position: static;
//             height: fit-content;
    
//             .image {
//                 position: static;
                
//                 &.first,
//                 &.second,
//                 &.third {
//                     // display: none;
//                     width: calc(100vw - #{$header-content-padding});
//                     height: calc((100vw - #{$header-content-padding}) * #{$image_height} / #{$image_width});
//                     top: unset;
//                     left: unset;
//                     z-index: unset;
//                 }

//                 // &.third {
//                 //     display: block;
//                 //     width: calc(100vw - #{$header-content-padding});
//                 //     height: calc((100vw - #{$header-content-padding}) * #{$image_height} / #{$image_width});
//                 // }

//             }      
//             .contact {
//                 position: static;
//                 bottom: unset;
//                 left: unset;
//             }  
//         }
//     }
    
// }