

#page-home {
    overflow: hidden;
    height: calc(100vh - #{$header-content-padding} * 3);
    .content-wrapper {
        overflow: visible;
    }
    #page-home-container {
        position: relative;
        height: 600px;
        .image {
            position: absolute;
            &.first {
                width: calc(800px * 0.8 * 0.75);
                top: 0;
                left: 0;
                z-index: 997;
            }
            &.second {
                width: calc(800px * 0.8);
                top: 20px;
                left: 20%;
                z-index: 998;
            }
            &.third {
                width: 800px;
                top: 55px;
                left: 30%;
                z-index: 999;
            }
        }      
        .contact {
            position: absolute;
            bottom: 0;
            left: 0;
            p {
                margin: 0;
            }
        }  
    }
}