$image_height:      450px;
$image_width:       800px;

#page-home {
    overflow: hidden;
    height: calc(100vh - #{$header-content-padding} * 3);
    .content-wrapper {
        overflow: visible;
    }
    #page-home-container {
        position: relative;
        height: calc(#{$image_height} + 55px);

        .image {
            visibility: hidden;
            position: absolute;
            transition: all 1s;
        }      
        .contact {
            position: absolute;
            bottom: 0;
            left: 0;
            p {
                margin: 0;
            }
        }  
    }
}

@keyframes fadeOutIn {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

// mobile
@include media-query($on-palm) {
    #page-home {
        height: calc(100vh - #{$header-content-padding-mobile} * 3);
        #page-home-container {
            .contact {
                display: none;
            }
        }
    }

    
}