$page-works-section-height:     300px;
$page-works-figure-height:      250px;

$page-works-grid-gap:           48px;
$page-works-grid-width:         calc((100% - #{$page-works-grid-gap}) / 2);
$page-works-date-size:          calc(#{$base-font-size} * 0.75);

#page-works {
    #page-works-container {
        display: grid;
        grid-template-columns: $page-works-grid-width $page-works-grid-width;
        column-gap: $page-works-grid-gap;
        row-gap: calc(#{$page-works-grid-gap} * 0.5);
        .section {
            .figure {
                width: 100%;
                height: $page-works-figure-height;
            }
            .info {
                text-align: left;
                p {
                    margin: 6px;
                }
                .title {

                }
                .date {
                    font-size: $page-works-date-size;
                }
            }
        }
    }
}