$page-news-hr-width:        1px;
$page-news-hr-color:        black;

$page-news-title-size:      calc(#{$base-font-size} * 2);
$page-news-section-height:  180px;


#page-news {
    #page-news-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .section {
            height: $page-news-section-height;
            display: flex;
            justify-content: space-between;
            .figure {
                width: calc(100% - #{$header-nav-width} - 8%);
                height: $page-news-section-height;
                border: none;
            }
            .info {
                width: $header-nav-width;
                p {
                    margin: 6px;
                }
                .line {
                    border-bottom: solid;
                    border-width: $page-news-hr-width;
                    border-color: $page-news-hr-color;
                }
                .title {
                    font-size: $page-news-title-size;
                }
                .desc {
                    font-weight: 100;
                }
            }
        }
    }
}

// mobile
@include media-query($on-palm) {
    #page-news {
        #page-news-container {
            .section {
                flex-direction: column-reverse;
                height: fit-content;
                .figure,
                .info {
                    width: 100%;
                }
            }
        }
    }
}