html {
  background-color: black;
  color: white;
  font-size: 2vh;
  font-family: "Noto Sans SC", "Noto Sans KR";
}
html p {
  margin: 0;
  padding: 0;
}

.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

@font-face {
  font-family: "Noto Sans KR";
  font-size: normal;
  font-weight: 400;
  src: url(../font/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans SC";
  font-size: normal;
  font-weight: 400;
  src: url(../font/NotoSansSC-Regular.otf) format("opentype");
}
body.loading #site-container {
  visibility: hidden;
}
body.loading #site-loading {
  display: block;
}

#site-loading {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#site-loading img {
  height: 28vh;
  width: 28vw;
}

#site-container {
  visibility: visible;
}
#site-container #site-logo {
  height: 50vh;
  width: 50vw;
  object-fit: contain;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 1000;
  pointer-events: none;
}
#site-container #site-footer {
  position: fixed;
  bottom: 2.5%;
  left: 50%;
  transform: translate(-50%, 0);
  word-break: keep-all;
  white-space: nowrap;
}
#site-container #site-navigation {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 40vh;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#site-container #site-navigation p {
  text-align: center;
  word-break: keep-all;
  white-space: nowrap;
}
#site-container #site-navigation .nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  transform: rotate(-90deg);
  width: 10vh;
  cursor: pointer;
  border: dashed;
  border-width: 0.1vh;
  margin: 0.5vh;
}
#site-container #site-navigation .nav-item p {
  text-align: center;
}
#site-container #site-prompts-container .prompt {
  pointer-events: none;
  position: fixed;
  word-break: keep-all;
  white-space: nowrap;
  font-weight: 200;
}
#site-container #site-about,
#site-container #site-contact {
  position: fixed;
  word-break: keep-all;
  white-space: nowrap;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  text-align: center;
}
#site-container #site-about p,
#site-container #site-contact p {
  margin: 0.25vh 0 0.25vh 0;
}
#site-container #site-logo,
#site-container #site-about,
#site-container #site-contact {
  display: none;
}
#site-container.home #site-logo {
  display: block;
}
#site-container.home #site-navigation #nav-home {
  border: solid;
  border-width: 0.1vh;
}
#site-container.about #site-about {
  display: block;
}
#site-container.about #site-navigation #nav-about {
  border: solid;
  border-width: 0.1vh;
}
#site-container.contact #site-contact {
  display: block;
}
#site-container.contact #site-navigation #nav-contact {
  border: solid;
  border-width: 0.1vh;
}

/*# sourceMappingURL=style.css.map */
